h1{color:azure;
  text-align:center;}

hr{color: white;}

h2{color:white;
   align-content: center;
  }
body{
    background-image: url(./bg.avif);
    background-repeat: no-repeat;
  background-size: 200%;
opacity: 1;}


img.im{margin: 30px;
     border:2px solid white;
     border-radius: 50%;
    
   }

   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .intro{
     margin:30px;
    color:white;
  font-size:20px;}

  
  ul.p{color:green;}

  div.pa{display: flex;
   margin-left: 10px;}

  ul.p{color:white;}

  .con{background-color: #111;
  font-size: medium;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 400;
color:white;}